/*마우스커서*/

* { margin:0; padding:0; }

/* 목록 불릿 없애기 */
ol,ul { list-style:none; }

/* 하이퍼링크 설정 */
a:link { text-decoration:none; color:#000; }
a:visited { text-decoration:none; color:#000; }
a:hover { text-decoration:none; color:#000; }
a:active { text-decoration:none; color:#000; }

body { 
    min-width: 1200px;
    font-family:"나눔고딕"; 
		font-size:16px; 
		line-height:26px; 
		color:#000; 
		cursor: url(../images/mouse.png), auto;}
		
#cursor{
	cursor: url(../images/mouse.png), auto;

	
}






@font-face {
    font-family: 'paybooc-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'paybooc-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'paybooc-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #666;}
body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #666;
}

.header {height: 80px;
 
      }
.header{background: url(../images/headerglitter.jpg) center top;}


.headerin{width: 1320px;
margin: auto;
position: relative;}

.logo{
    display: block;
    float: left;
    margin: 20px 0;
}

.headerin ul{float: right;
    position: absolute;
    right: 100px;
}

.headerin ul .zz{float: left;
    padding: 25px 0 20px 40px;}

.headerin ul .yy{float: left;
    padding: 20px 0 20px 40px;
}

.headerin .zz a:hover{color: rgb(39, 247, 56);}

.zz a{font-family: 'paybooc-Bold';
color: #fff;
font-size: 30px;
font-weight: bold;
font-style: italic;
padding-bottom: 50px;}



.yy a{display: block;
    background: url(../images/login.png) no-repeat 100%;
    width: 37px;
    height: 37px;}
    .yy a:hover {background: url(../images/loginhover.png) no-repeat 100%;
        opacity: 1;}








        
.text {height: 150px;
    width: 100%;
}

.slogun {margin: auto;
width: 1320px;
position: relative;}


.slogun .bag {position: absolute;
    top: 50px;
    left: 15%;

}



.slogun .cart {position: absolute;
top: 50px;
right: 22%;}







/*슬로건애니메이션*/
h1 { position: absolute;
    top: 80px;
    left: 45%;
    transform: translateX(-45%);
    text-align: center;
    font-family: 'Capuche Trial';
  
  font-size: 60px;
  padding: 0;
  color: rgb(202, 243, 21);
  text-shadow: 0 0.1em 10px black, 0.05em -0.03em 0 black, 0.05em 0.005em 0 black, 0em 0.08em 0 black, 0.05em 0.08em 0 black, 0px -0.03em 0 black, -0.03em -0.03em 0 black, -0.03em 0.08em 0 black, -0.03em 0 0 black;
}
h1 span {
  transform: scale(0.9);
  display: inline-block;
}
h1 span:first-child {
  animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}
h1 span:last-child {
  animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}

@keyframes bop {
  0% {
    transform: scale(0.9);
  }
  50%, 100% {
    transform: scale(1);
  }
}
@keyframes bopB {
  0% {
    transform: scale(0.9);
  }
  80%, 100% {
    transform: scale(1) rotateZ(-3deg);
  }
}















#content1{ 
    background-color: #fff;
    font-family: 'paybooc-Light';
}
.content1_inner{
    width: 1320px;
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;

    
}


.content1_inner a:hover { 
    
    filter: brightness(70%); 
}



.content1_inner li{
    float: left;
    width: 390px;
}
.margin1{
    margin: 0 20px;
}

.content1_inner ul li a p{line-height: 40px;}

.margin1 .cancel {text-decoration-line: line-through;}
.content1_inner ul{
    height: 550px;
}

.content1_inner .margin1 .special {color: red;}

.content1_inner .margin1 .icon2 {padding-top: 40px;}
.content1_inner .icon {padding-top: 70px;}

.content1_inner .icon3 {padding-top: 40px;}

.content2_inner .icon{padding-top: 70px;}

.content3_inner .icon {padding-top: 70px;}








#content2{ font-family: 'paybooc-Light';
    background-color: #fff;
}
.content2_inner{
    width: 1320px;
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
}

.content2_inner li{
    float: left;
    width: 390px;
}
.margin2{
    margin: 0 20px;
}
.content2_inner ul{
    height: 550px;
}

.content2_inner a:hover { 
    
    filter: brightness(70%); 
}

.content2_inner ul li a p{line-height: 40px;}

#content3{ font-family: 'paybooc-Light';
    background-color: #fff;
}
.content3_inner{
   height: 600px;
    width: 1320px;
    margin: 0 auto;
    padding: 100px 0;
    text-align: center;
}

.content3_inner li{
    float: left;
    width: 390px;
}
.margin3{
    margin: 0 20px;
}
.content3_inner ul{
    height: 550px;
}



.content3_inner a:hover { 
    
    filter: brightness(70%); 
}


.content3_inner ul li a p{line-height: 40px;}









@font-face {
    font-family: 'paybooc-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
 
.footer{ height: 260px;
    
    background: url(../images/footer_background.jpg) no-repeat center;
}


.footerin {width: 1320px;
margin: auto;
position: relative;}

.footerin p{
    font-family: 'paybooc-Bold';
    color: #fff;
font-size: 20px;
padding-left: 50px;
font-style: italic;}


.footerin .footerlogo {padding: 30px 0 50px 60px;}


.footerin .twitter{display: block;
 
  width: 45px;
  height: 45px;
  
  background: url(../images/twitter.png) no-repeat; 
 
  
}

.footerin .facebook {display: block;
  opacity: 1;
  width: 45px;
  height: 45px;
  
  background: url(../images/facebook.png) no-repeat ; }

.footerin .insta {display: block;
  opacity: 1;
  width: 45px;
  height: 45px;
  
  background: url(../images/insta.png) no-repeat; }

/*주소넣기위한a블락*/

.footerin .twitter a{display: block;
    width: 45px;
    height: 45px;}
    
    .footerin .facebook a{display: block;
      width: 45px;
      height: 45px;}
    
      .footerin .insta a{display: block;
        width: 45px;
        height: 45px;}
    


.footerin .twitter:hover { 
  opacity: 0.8;}
  .footerin .facebook:hover { 
    opacity: 0.8;}
    .footerin .insta:hover { 
      opacity: 0.8;}





.footer ul{float: right;
clear: both;
position: absolute;
top: 80%;
right: 15%;}

.footer li{float: left;
margin-left: 30px;}


.login{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #000;
    display: none;
}




.button a{padding: 20px;
    font-family: 'paybooc-Bold';
    font-size: 18px;
  
    transition: background-color .5s;
background-color: rgb(157, 141, 250);
color: black;
display: inline-block;
border-radius: 50%;
box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
color: #fff;}




.button a:hover {background-color: rgb(204, 96, 190);

}