/*마우스커서*/

* { margin:0; padding:0; }

/* 목록 불릿 없애기 */
ol,ul { list-style:none; }

/* 하이퍼링크 설정 */
a:link { text-decoration:none; color:#000; }
a:visited { text-decoration:none; color:#000; }
a:hover { text-decoration:none; color:#000; }
a:active { text-decoration:none; color:#000; }

body {min-width: 1200px; 
    font-family:"나눔고딕"; 
		font-size:16px; 
		line-height:26px; 
		color:#000; 
		cursor: url(../images/mouse.png), auto;
       
            
          }
		
#cursor{
	cursor: url(../images/mouse.png), auto;

	
}







@font-face {
    font-family: 'paybooc-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'paybooc-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'paybooc-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #666;}
body{min-width: 1200px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #666;
}

.header {height: 80px;
}

.header{background: url(../images/headerglitter.jpg) center top;}


.headerin{width: 1320px;
margin: auto;
position: relative;}

.logo{
display: block;
float: left;
margin: 20px 0;
}

.headerin ul{float: right;
position: absolute;
right: 100px;
}

.headerin ul .zz{float: left;
padding: 25px 0 20px 40px;}

.headerin ul .yy{float: left;
padding: 25px 0 20px 40px;
}

.headerin .zz a:hover{color: rgb(39, 247, 56);}
.zz {font-family: 'paybooc-Bold';
color: #fff;
font-size: 30px;
font-weight: bold;
font-style: italic;
padding-bottom: 50px;}

.zz a{color: #fff;}

.yy a{display: block;
    background: url(../images/login.png) no-repeat 100%;
    width: 37px;
    height: 37px;}
    .yy a:hover {background: url(../images/loginhover.png) no-repeat 100%;
        opacity: 1;}




.one {background: url(../images/about/1_back.jpg) no-repeat 100% top;
height: 585px;}
/*
.one img {padding: 80px 780px;}
*/

.one h1 {text-align: center;
padding: 70px 0;}
.one p{text-align: center;
color: #fff;
font-family: 'paybooc-Bold';
font-style: italic;}



.two h2{font-family: 'paybooc-ExtraBold';
    text-align: center;
    color: #000;
    font-size: 30px;
    padding: 100px;
}

.two p{text-align: center;
padding-bottom: 100px;}


.two img:nth-child(1){padding-right: 50px;
    padding-bottom: 10px;}
.two img:nth-child(2){padding-right: 50px;}
.two img:nth-child(3){padding-right: 50px;
padding-bottom: 10px;}
.two img:nth-child(4){padding-right: 50px;
    }
    .two img:nth-child(5){padding-right: 50px;
        padding-bottom: 10px;
    }



.three {height: 400px;
background-color: #000;}

.three h2{color: #fff;
    font-family: 'paybooc-ExtraBold';
    text-align: center;
    
    font-size: 30px;
    padding: 70px;}

    .three p{text-align: center;
        padding-bottom: 100px;}



 .four h2{font-family: 'paybooc-ExtraBold';
            text-align: center;
            color: #000;
            font-size: 30px;
            padding: 100px;
        }




.four h3{text-align: center;

}

.four h3 :nth-child(1) {display: inline-block;
margin-right: 50px;
margin-left: 30px;}


.fourb {text-align: center;
color: #000;
font-family: 'paybooc-Bold';
font-size: 20px;
font-style: italic;
margin-top: 50px;}



.five h2{font-family: 'paybooc-ExtraBold';
    text-align: center;
    color: #000;
    font-size: 30px;
    padding: 100px;
}

.five p{text-align: center;
padding-bottom: 100px;}



.six {background: url(../images/about/6_back.jpg)no-repeat 100% top;
height: 600px;}

.six h2{color: #ccc;
    font-family: 'paybooc-ExtraBold';
    text-align: center;
    
    font-size: 30px;
    padding: 50px;}

.six p{text-align: center;
padding-left: 60px;}

.sixin {text-align: center;
    font-family: 'paybooc-Bold';
font-size: 20px;
font-style: italic;
color: #fff;
padding-top: 50px;
}


@font-face {
    font-family: 'paybooc-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.footer{ height: 260px;
    
    background: url(../images/footer_background.jpg) no-repeat center;
}


.footerin {width: 1320px;
margin: auto;
position: relative;}

.footerin p{
    font-family: 'paybooc-Bold';
    color: #fff;
font-size: 20px;
padding-left: 50px;
font-style: italic;}


.footerin .footerlogo {padding: 30px 0 50px 60px;}

.footerin .twitter{display: block;
 
    width: 45px;
    height: 45px;
    
    background: url(../images/twitter.png) no-repeat; 
   
    
  }
  
  .footerin .facebook {display: block;
    opacity: 1;
    width: 45px;
    height: 45px;
    
    background: url(../images/facebook.png) no-repeat; }
  
  .footerin .insta {display: block;
    opacity: 1;
    width: 45px;
    height: 45px;
    
    background: url(../images/insta.png) no-repeat; }
  
  
  /*주소넣기위한a블락*/
  
  .footerin .twitter a{display: block;
    width: 45px;
    height: 45px;}
    
    .footerin .facebook a{display: block;
      width: 45px;
      height: 45px;}
    
      .footerin .insta a{display: block;
        width: 45px;
        height: 45px;}
    
  
  .footerin .twitter:hover { 
    opacity: 0.8;}
    .footerin .facebook:hover { 
      opacity: 0.8;}
      .footerin .insta:hover { 
        opacity: 0.8;}
  
  
  
  

.footer ul{float: right;
clear: both;
position: absolute;
top: 80%;
right: 15%;}

.footer li{float: left;
margin-left: 30px;}



.button a{padding: 20px;
    font-family: 'paybooc-Bold';
    font-size: 18px;
  
    transition: background-color .5s;
background-color: rgb(157, 141, 250);
color: black;
display: inline-block;
border-radius: 50%;
box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
color: #fff;}




.button a:hover {background-color: rgb(204, 96, 190);

}