/*마우스커서*/

* { margin:0; padding:0; }

/* 목록 불릿 없애기 */
ol,ul { list-style:none; }

/* 하이퍼링크 설정 */
a:link { text-decoration:none; color:#000; }
a:visited { text-decoration:none; color:#000; }
a:hover { text-decoration:none; color:#000; }
a:active { text-decoration:none; color:#000; }

body {min-width: 1200px; 
  font-family:"나눔고딕"; 
		font-size:16px; 
		line-height:26px; 
		color:#000; 
		cursor: url(../images/mouse.png), auto;}
		
#cursor{
	cursor: url(../images/mouse.png), auto;

	
}
	



@font-face {
  font-family: 'paybooc-Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'paybooc-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'paybooc-ExtraBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-ExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #666;}
body{min-width: 1200px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #666;
}

.header {height: 80px;
    }

.header{background: url(../images/headerglitter.jpg) center top;}


.headerin{width: 1320px;
margin: auto;
position: relative;}

.logo{
    display: block;
    float: left;
    margin: 20px 0;
}

.headerin ul{float: right;
    position: absolute;
    right: 100px;
}

.headerin ul .zz{float: left;
    padding: 25px 0 20px 40px;}

.headerin ul .yy{float: left;
    padding: 20px 0 20px 40px;
}

.headerin .zz a:hover{color:rgb(39, 247, 56);}

.zz {font-family: 'paybooc-Bold';
color: #fff;
font-size: 30px;
font-weight: bold;
font-style: italic;
padding-bottom: 50px;}

.zz a{color: #fff;}



.yy a{display: block;
  background: url(../images/login.png) no-repeat 100%;
  width: 37px;
  height: 37px;}
  .yy a:hover {background: url(../images/loginhover.png) no-repeat 100%;
      opacity: 1;}



.mainthree {width: 100%;
overflow: hidden;
height: 3000px;
/*background: url(../images/main3_background.jpg) no-repeat center;*/
}

.mainthree h2{font-family: 'paybooc-bold';
color: #fff;}
.mainthree p{font-family: 'paybooc-bold';
  color: #fff; 
  font-style: italic;
font-size: 16px;
text-shadow: #000 100%;}

.mainthreein {width: 1320px;
    padding-bottom: 500px;
margin: auto;
position: relative;}

.mainthree .cell1 h2{position: absolute;
top: 37%;
left: 60%;}

.mainthree .cell1 p{position: absolute;
  top: 42%;
  left: 60%;
line-height: 30px;}

.mainthree .cell1 {position: absolute;
top: 5px;
left: -25%;
}



.mainthree .cell2 {position: absolute;
top: 700px;
right: -25%;}


.mainthree .cell2 h2 {position: absolute;
top: 34%;
right: 65%;}

.mainthree .cell2 p{position: absolute;
top: 39%;
left: 17%;
line-height: 35px;}



.mainthree .cell3 {position: absolute;
top: 1400px;
left: -25%;}

.mainthree .cell3 h2{position: absolute;
top: 25%;
left: 60%;}

.mainthree .cell3 p{position: absolute;
top: 30%;
left: 60%;
line-height: 30px;}


.mainthree .cell4 {position: absolute;
  top: 2100px;
 right: -28%;}

 .mainthree .cell4 h2{position: absolute;
top: 30%;
right: 65%;}

.mainthree .cell4 p{position: absolute;
top: 35%;
left: 14%;
line-height: 30px;}


  .box {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 2px 30px rgba(black, .2);
    background: lighten(#f0f4c3, 10%);
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }
  
  .wave {
    opacity: .4;
    position: absolute;
    top: 3%;
    left: 50%;
    background: rgb(228, 98, 245);
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 3000ms infinite linear;
  }
  
  .wave.-three {
    animation: drift 5000ms infinite linear;
  }
  
  .wave.-two {
    animation: drift 7000ms infinite linear;
    opacity: .1;
    background: rgb(49, 255, 7);
  }
  
  .box:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(rgb(212, 59, 110), 1), rgba(#def, 0) 80%, rgba(white, .5));
    z-index: 11;
    transform: translate3d(0, 0, 0);
  }
  
  .title {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    line-height: 180px;
    text-align: center;
    transform: translate3d(0, 0, 0);
    color: white;
    
    font-family: 'Playfair Display', serif;
    letter-spacing: .4em;
    
    text-shadow: 0 1px 0 rgba(black, .1);
    text-indent: .3em;
    font-family: 'Britannic Bold';
    font-style: italic;
    font-size: 25px;
  }
  @keyframes drift {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
  }



.fade-in-box h1{text-align: center;}
.swiper-slide{position: relative;
height: 650px;
background: url(../images/how/appback.png) center top no-repeat;
} 

.swiper-slide h1 {padding-top: 70px;}
.swiper-slide ul {position: absolute;
left: 50%;
top: 50%;
transform: translateX(-50%);}

.swiper-slide li{float: left;
position: relative;}


.swiper-slide li a:hover .applehover{opacity: 1;}

.applehover {position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

}

.swiper-slide li a:hover .androidhover{opacity: 1;}

.androidhover {position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}



.footer{ height: 260px;
    
    background: url(../images/footer_background.jpg) no-repeat center;
}


.footerin {width: 1320px;
margin: auto;
position: relative;}

.footerin p{
    font-family: 'paybooc-Bold';
    color: #fff;
font-size: 20px;
padding-left: 50px;
font-style: italic;}




.footerin .footerlogo {padding: 30px 0 50px 60px;}


.footerin .twitter{display: block;
 
  width: 45px;
  height: 45px;
  
  background: url(../images/twitter.png) no-repeat; 
 
  
}

.footerin .facebook {display: block;
  opacity: 1;
  width: 45px;
  height: 45px;
  
  background: url(../images/facebook.png) no-repeat; }

.footerin .insta {display: block;
  opacity: 1;
  width: 45px;
  height: 45px;
  
  background: url(../images/insta.png) no-repeat; }


/*주소넣기위한a블락*/

.footerin .twitter a{display: block;
  width: 45px;
  height: 45px;}
  
  .footerin .facebook a{display: block;
    width: 45px;
    height: 45px;}
  
    .footerin .insta a{display: block;
      width: 45px;
      height: 45px;}
  

.footerin .twitter:hover { 
  opacity: 0.8;}
  .footerin .facebook:hover { 
    opacity: 0.8;}
    .footerin .insta:hover { 
      opacity: 0.8;}





.footer ul{float: right;
clear: both;
position: absolute;
top: 80%;
right: 15%;}

.footer li{float: left;
margin-left: 30px;}



.button a{padding: 20px;
    font-family: 'paybooc-Bold';
    font-size: 18px;
    
    transition: background-color .5s;
background-color: rgb(157, 141, 250);
color: black;
display: inline-block;
border-radius: 50%;
box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
color: #fff;}




.button a:hover {background-color: rgb(204, 96, 190);

}